### Exploratory Analysis of Healthcare Operations Using Python (Pandas & NumPy)

In [1]:
#import libraries
import pandas as pd
import numpy as np

In [2]:
#load dataset 
df = pd.read_excel('./Copy of healthcare_dataset.xlsx')

In [3]:
#Data Overview
df.head()
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Name                10000 non-null  object
 1   Age                 10000 non-null  int64
 2   Gender              10000 non-null  object
 3   Blood Type          10000 non-null  object
 4   Medical Condition   10000 non-null  object
 5   Date of Admission   10000 non-null  datetime64[ns]
 6   Doctor              10000 non-null  object
 7   Hospital            10000 non-null  object
 8   Insurance Provider  10000 non-null  object
 9   Billing Amount      10000 non-null  float64
 10  Room Number         10000 non-null  int64
 11  Admission Type      10000 non-null  object
 12  Discharge Date      10000 non-null  datetime64[ns]
 13  Medication          10000 non-null  object
 14  Test Results        10000 non-null  object
dtypes: datetime64[ns](2), float64(1), int64(2), object(10)
memory usage: 1.1+ MB

,Age,Date of Admission,Billing Amount,Room Number,Discharge Date
count,10000.000000,10000,10000.000000,10000.000000,10000
mean,51.452200,2021-05-01 21:53:25.439999744,25516.806778,300.082000,2021-05-17 11:22:24.960000
min,18.000000,2018-10-30 00:00:00,1000.180837,101.000000,2018-11-01 00:00:00
25%,35.000000,2020-02-10 00:00:00,13506.523967,199.000000,2020-02-23 18:00:00
50%,52.000000,2021-05-02 00:00:00,25258.112566,299.000000,2021-05-18 00:00:00
75%,68.000000,2022-07-23 06:00:00,37733.913727,400.000000,2022-08-07 00:00:00
max,85.000000,2023-10-30 00:00:00,49995.902283,500.000000,2023-11-27 00:00:00
std,19.588974,NaN,14067.292709,115.806027,NaN

There are 10,000 patients in the dataset with 15 columns which contain the patient's details such as name, age, gender, blood group, medical conditions and other details. The minimium age of patient that was admitted is 18 years and maximium is 85 years. The first admission occured on the 30-10-2018 and the last was 30-10-2023. 

The data types are 10 strings, 2 integer, 1 float and 2 datetime data type

In [ ]:
#checking for null values

df.isnull()
df.isnull().sum()

Name                  0
Age                   0
Gender                0
Blood Type            0
Medical Condition     0
Date of Admission     0
Doctor                0
Hospital              0
Insurance Provider    0
Billing Amount        0
Room Number           0
Admission Type        0
Discharge Date        0
Medication            0
Test Results          0
dtype: int64

##### Data cleaning and Validation
* Checking and handling inconsistent and duplicate value
* Identify invalid discharge dates

In [ ]:
#check for medical conditions recorded in the dataset
df['Medical Condition'].unique() 

##check for inconsistent entry in medical condition
df['Medical Condition'].value_counts()

Medical Condition
Asthma          1708
Cancer          1703
Hypertension    1688
Arthritis       1650
Obesity         1628
Diabetes        1623
Name: count, dtype: int64

In [ ]:
#check for inconsistent entry in the admission type column

df['Admission Type'].value_counts()

Admission Type
Urgent       3391
Emergency    3367
Elective     3242
Name: count, dtype: int64

In [ ]:
#check for inconsistent entry in the Blood type column

df['Blood Type'].value_counts()

Blood Type
AB-    1275
AB+    1258
B-     1252
O+     1248
O-     1244
B+     1244
A+     1241
A-     1238
Name: count, dtype: int64

In [ ]:
#check for inconsistent entry in the gender column

df['Gender'].value_counts()

Gender
Female    5075
Male      4925
Name: count, dtype: int64

In [ ]:
#check for inconsistent entry in the insurance provider column

df['Insurance Provider'].value_counts()

Insurance Provider
Cigna               2040
Blue Cross          2032
Aetna               2025
UnitedHealthcare    1978
Medicare            1925
Name: count, dtype: int64

In [ ]:
#check for inconsistent entry in the medication column
df['Medication'].value_counts()

Medication
Penicillin     2079
Lipitor        2015
Ibuprofen      1976
Aspirin        1968
Paracetamol    1962
Name: count, dtype: int64

In [ ]:
 #check for inconsistent entry in the test result column
df['Test Results'].value_counts()

Test Results
Abnormal        3456
Inconclusive    3277
Normal          3267
Name: count, dtype: int64

In [ ]:
#check for null in the admission and discharge column
df[['Date of Admission', 'Discharge Date']].isna().sum()

Date of Admission    0
Discharge Date       0
dtype: int64

In [ ]:
# check for invalid dates where discharge date comes before admission date
invalid_dates = df[df['Discharge Date'] < df['Date of Admission']]

invalid_dates

Empty DataFrame
Columns: [Name, Age, Gender, Blood Type, Medical Condition, Date of Admission, Doctor, Hospital, Insurance Provider, Billing Amount, Room Number, Admission Type, Discharge Date, Medication, Test Results]
Index: []

In [12]:
# feature engineering
#creating length of stay column

df['length_of_stay'] = (df['Discharge Date'] - df['Date of Admission']).dt.days 

df['length_of_stay']

0       14
1       14
2       30
3        1
4       24
        ..
9995     4
9996    23
9997    14
9998    20
9999    24
Name: length_of_stay, Length: 10000, dtype: int64

In [ ]:
#check for negative (invalid) length of stay

df[df['length_of_stay'] < 0]

In [ ]:
#statistics of length of stay

df['length_of_stay'].describe()

#statistics of billing amount
df['Billing Amount'].describe()

There is no missing value, no duplicate or inconsistent in the dataset

##### Exploratory Data Analysis (EDA)

ðŸ“Š Patient Demographics

Gender distribution

Most common blood type

Age summary

Medical conditions

Top 5 common medical conditions

Unique medical conditions are recorded

ðŸ¥ Hospital Utilization

Number of unique hospitals

Most frequently occupied rooms

Average stay per room

â³ Length of Stay Analysis

Longest stay patients

Average stay by admission type

Average stay per doctor

ðŸ’° Billing Analysis

Average billing per patient

Highest billed patients

Billing by admission type

Billing by medical condition

Billing per doctor

ðŸ§ª Test Results

Proportion of normal vs abnormal results

Length of stay: normal vs abnormal

Medical conditions with highest abnormal rate

ðŸ©º Clinical Relationships

Conditions vs medications

Doctor vs conditions treated

Doctor handling most emergency cases

In [ ]:
# Age summary

df['Age'].describe()

count    10000.000000
mean        51.452200
std         19.588974
min         18.000000
25%         35.000000
50%         52.000000
75%         68.000000
max         85.000000
Name: Age, dtype: float64

In [ ]:
#check for gender distribution of patients

df['Gender'].value_counts()

Gender
Female    5075
Male      4925
Name: count, dtype: int64

In [ ]:
#check for gender distribution of patients in percentage

df['Gender'].value_counts(normalize=True) * 100

Gender
Female    50.75
Male      49.25
Name: proportion, dtype: float64

In [ ]:
#count of each blood group

df['Blood Type'].value_counts()

Blood Type
AB-    1275
AB+    1258
B-     1252
O+     1248
O-     1244
B+     1244
A+     1241
A-     1238
Name: count, dtype: int64

In [ ]:
#most common blood group

df['Blood Type'].value_counts().idxmax()

'AB-'

In [ ]:
#numbers of hospital in the dataset

df['Hospital'].nunique()

8639

In [ ]:
#hospital with most admission

df['Hospital'].value_counts().idxmax()

'Smith PLC'

In [4]:
#top 10 hospitals with most admission with the number of admission

df['Hospital'].value_counts().head(10)

Hospital
Smith PLC         19
Smith and Sons    17
Smith Ltd         14
Smith Inc         14
Johnson PLC       13
Williams LLC      12
Smith Group       12
Williams Inc      12
Thomas Group      11
Johnson Group     11
Name: count, dtype: int64

In [14]:
df.groupby('Hospital')['Billing Amount'].mean().sort_values(ascending=False)

Hospital
Arellano-Mahoney              49995.902283
Ellison-Johnson               49994.984740
Thompson, Carlson and Kim     49985.973068
Morales, Ferrell and Clark    49974.806592
Smith, Cooper and Chavez      49974.299138
                                  ...
Reyes-Mills                    1042.981212
Reeves, Hunt and Cruz          1036.079068
Pennington-Cook                1032.640280
Johnston PLC                   1020.337790
Nguyen-Allen                   1004.416897
Name: Billing Amount, Length: 8639, dtype: float64

In [19]:
#Average stay by admission type

df.groupby('Admission Type')['length_of_stay'].mean().sort_values(ascending=False)

Admission Type
Emergency    15.609742
Elective     15.601172
Urgent       15.476556
Name: length_of_stay, dtype: float64

In [20]:
#count and average stay by admission type

df.groupby('Admission Type')['length_of_stay'].agg(['mean', 'count'])

                     mean  count
Admission Type
Elective        15.601172   3242
Emergency       15.609742   3367
Urgent          15.476556   3391

In [21]:
#sum and average billing amount by admission type

df.groupby('Admission Type')['Billing Amount'].mean().sort_values(ascending=False)

Admission Type
Urgent       25960.833557
Elective     25891.832668
Emergency    24708.511933
Name: Billing Amount, dtype: float64

In [17]:
#top medical conditions in descending order

df['Medical Condition'].value_counts()

Medical Condition
Asthma          1708
Cancer          1703
Hypertension    1688
Arthritis       1650
Obesity         1628
Diabetes        1623
Name: count, dtype: int64

In [13]:
df.groupby('Medical Condition')['length_of_stay'].mean().sort_values(ascending=False)

Medical Condition
Arthritis       15.990303
Diabetes        15.574245
Asthma          15.481265
Cancer          15.479742
Hypertension    15.430095
Obesity         15.421990
Name: length_of_stay, dtype: float64

In [16]:
#average billing for each medical condition

df.groupby('Medical Condition')['Billing Amount'].mean().sort_values(ascending=False)

Medical Condition
Diabetes        26060.116129
Obesity         25720.842683
Cancer          25539.096133
Asthma          25416.869895
Hypertension    25198.033973
Arthritis       25187.631255
Name: Billing Amount, dtype: float64

In [ ]:
#Most frequently occupied rooms in descending order

df['Room Number'].value_counts().sort_values(ascending=False).head()

Room Number
358    44
230    40
257    38
469    37
137    36
Name: count, dtype: int64

In [ ]:
#Average stay by room number

df.groupby('Room Number')['length_of_stay'].mean().sort_values(ascending=False)

Room Number
352    20.700000
465    20.105263
442    19.928571
285    19.500000
268    19.307692
         ...
500    11.190476
359    11.090909
141    11.052632
185    11.047619
225     9.312500
Name: length_of_stay, Length: 400, dtype: float64

In [ ]:
# statistics for billing amount

df['Billing Amount'].describe()

count    10000.000000
mean     25516.806778
std      14067.292709
min       1000.180837
25%      13506.523967
50%      25258.112566
75%      37733.913727
max      49995.902283
Name: Billing Amount, dtype: float64

In [27]:
#check the patient with highest length of stay

max_stay = df['length_of_stay'].max()

df[df['length_of_stay'] == 30]

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results,length_of_stay
2,Chad Byrd,61,Male,B-,Obesity,2019-01-09,Paul Baker,Walton LLC,Medicare,36874.896997,292,Emergency,2019-02-08,Lipitor,Normal,30
20,William Johnson,55,Female,AB+,Arthritis,2023-02-25,Kelly Thompson,Pearson LLC,Aetna,32263.622157,238,Emergency,2023-03-27,Penicillin,Normal,30
81,Douglas Crawford,34,Male,AB+,Arthritis,2023-08-16,Joseph Santiago,Stephens and Sons,Blue Cross,26440.396726,142,Elective,2023-09-15,Lipitor,Abnormal,30
83,Kimberly Vargas,27,Female,B+,Obesity,2018-12-28,Donald Nelson,"Jarvis, Walker and Grant",Aetna,5319.542763,139,Elective,2019-01-27,Aspirin,Abnormal,30
84,Travis Walker,70,Female,A-,Arthritis,2019-01-12,Nathan Colon,"Ramirez, Graham and Wright",Medicare,44047.144242,482,Elective,2019-02-11,Penicillin,Normal,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9775,John Hall,68,Female,AB+,Cancer,2020-08-17,Nicole Rubio,Mcknight-Li,Blue Cross,35388.828316,206,Emergency,2020-09-16,Paracetamol,Normal,30
9777,Hayden Lopez,32,Female,AB-,Diabetes,2020-06-27,Danielle Mays,Jones Ltd,Aetna,34773.116723,139,Elective,2020-07-27,Lipitor,Abnormal,30
9800,Jonathan Anderson,65,Male,O+,Asthma,2023-02-13,Joseph Jackson,Herring PLC,Medicare,44948.769882,257,Emergency,2023-03-15,Penicillin,Inconclusive,30
9859,Tammy Franco,77,Male,B-,Obesity,2020-06-30,Heather Bates,"Mccormick, Hines and Simmons",UnitedHealthcare,8056.605525,176,Emergency,2020-07-30,Aspirin,Abnormal,30
9976,Colton Weaver,81,Female,AB-,Arthritis,2019-03-06,Christian Dixon,"Munoz, Parks and Jimenez",Blue Cross,37726.181757,245,Elective,2019-04-05,Aspirin,Normal,30

In [10]:
#Average billing amount per patient

high_bill = df.groupby('Name')['Billing Amount'].mean().sort_values(ascending=False)
high_bill.head(10)

Name
Daniel Hall        49995.902283
Teresa Buchanan    49994.984740
Roy Beck           49985.973068
Mary Stein         49974.806592
Holly Clayton      49974.160458
John Oneill        49954.968325
Robert Potts       49947.562815
Matthew Flores     49936.073748
Shannon Lloyd      49932.901816
Jeanne Price       49930.031601
Name: Billing Amount, dtype: float64

In [13]:
#top 10 highest-billed patients with details

top_billed = df.sort_values(by='Billing Amount', ascending=False).head(10)


top_billed[
    ['Name', 'Medical Condition', 'Hospital', 'Admission Type', 'Billing Amount', 'length_of_stay']
]

,Name,Medical Condition,Hospital,Admission Type,Billing Amount,length_of_stay
8789,Daniel Hall,Hypertension,Arellano-Mahoney,Emergency,49995.902283,7
9384,Teresa Buchanan,Cancer,Ellison-Johnson,Urgent,49994.984740,6
3256,Roy Beck,Arthritis,"Thompson, Carlson and Kim",Elective,49985.973068,7
734,Mary Stein,Hypertension,"Morales, Ferrell and Clark",Emergency,49974.806592,21
3526,Richard Jones,Asthma,"Smith, Cooper and Chavez",Emergency,49974.299138,15
1495,Holly Clayton,Obesity,"Webster, Oconnell and Norton",Emergency,49974.160458,16
4110,Jason Miller,Cancer,"Ford, Gibson and Parker",Emergency,49957.997600,28
7447,John Oneill,Diabetes,Dunn Ltd,Emergency,49954.968325,18
5169,Elizabeth Johnson,Hypertension,"Sanders, Robertson and Williams",Emergency,49951.261761,27
7289,Robert Potts,Obesity,Harmon-Anderson,Emergency,49947.562815,2

In [ ]:
#number of times each patients were billed 

df.groupby('Name')['Billing Amount'].count().sort_values(ascending=False)

Name
Michael Johnson     7
James Johnson       6
Amanda Lee          4
James Thomas        4
David Smith         4
                   ..
Zachary Jones       1
Zachary Luna        1
Zachary Marshall    1
Zachary Martinez    1
Zachary Mccann      1
Name: Billing Amount, Length: 9378, dtype: int64

In [9]:
# total amount each patient were billed

df.groupby('Name')['Billing Amount'].sum().sort_values(ascending=False)

Name
James Johnson        159668.261015
David Smith          150555.132774
Jennifer Gonzalez    145841.255531
Michael Martin       143754.162627
Amanda Lee           139550.700103
                         ...
Stacy Thomas           1032.640280
John Kim               1032.263087
Ashley Novak           1009.417327
Shane Griffin          1004.416897
Anna Adams             1000.180837
Name: Billing Amount, Length: 9378, dtype: float64

In [ ]:
#insurance providers and count of patients they covered resectively

df['Insurance Provider'].value_counts().sort_values(ascending=False)

Insurance Provider
Cigna               2040
Blue Cross          2032
Aetna               2025
UnitedHealthcare    1978
Medicare            1925
Name: count, dtype: int64

In [ ]:
#average billing amounts across insurance providers

df.groupby('Insurance Provider')['Billing Amount'].mean().sort_values(ascending=False)

Insurance Provider
Aetna               25837.923338
Cigna               25656.946859
Blue Cross          25652.489617
UnitedHealthcare    25404.685388
Medicare            25002.480429
Name: Billing Amount, dtype: float64

In [ ]:
#insurance providers and their total billing

df.groupby('Insurance Provider')['Billing Amount'].sum().sort_values(ascending=False)

Insurance Provider
Cigna               5.234017e+07
Aetna               5.232179e+07
Blue Cross          5.212586e+07
UnitedHealthcare    5.025047e+07
Medicare            4.812977e+07
Name: Billing Amount, dtype: float64

In [32]:
#how many patients each doctor attend to

df['Doctor'].value_counts()

Doctor
Michael Johnson     7
James Perez         5
James Williams      5
Matthew Smith       5
Robert Brown        5
                   ..
Katherine Archer    1
Phillip Nash        1
Christian Dixon     1
Richard Baker       1
Diane Jackson       1
Name: count, Length: 9416, dtype: int64

In [ ]:
#doctors and the number of emergency admissions they handled

df[df['Admission Type'] == 'Emergency']['Doctor'].value_counts()

Doctor
Jennifer Smith       4
Christopher Jones    3
Matthew Smith        3
Karen Smith          3
Daniel Smith         2
                    ..
Adrian Pierce        1
Jesus Snyder         1
Sara Watts           1
Tina Rogers          1
Misty Bailey         1
Name: count, Length: 3294, dtype: int64

In [ ]:
#Average billing amount per doctor

df.groupby('Doctor')['Billing Amount'].mean().sort_values(ascending=False)

Doctor
Timothy Serrano        49995.902283
Joseph Rice            49994.984740
Aaron Mills            49985.973068
Alice Gross DVM        49974.806592
Rebecca Parks          49974.299138
                           ...
Kevin Higgins           1032.263087
Andrea Cordova          1020.337790
Christopher Jenkins     1009.417327
Christopher Ruiz        1004.416897
Samuel Taylor           1000.180837
Name: Billing Amount, Length: 9416, dtype: float64

In [ ]:
# medications that are most frequently prescribed

df['Medication'].value_counts()

Medication
Penicillin     2079
Lipitor        2015
Ibuprofen      1976
Aspirin        1968
Paracetamol    1962
Name: count, dtype: int64

In [41]:
#checking medication commonly prescribed for each medical conditions
df.groupby('Medical Condition')['Medication'].unique()

Medical Condition
Arthritis       [Paracetamol, Aspirin, Ibuprofen, Penicillin, ...
Asthma          [Lipitor, Penicillin, Aspirin, Paracetamol, Ib...
Cancer          [Penicillin, Ibuprofen, Lipitor, Aspirin, Para...
Diabetes        [Aspirin, Penicillin, Paracetamol, Ibuprofen, ...
Hypertension    [Lipitor, Paracetamol, Aspirin, Ibuprofen, Pen...
Obesity         [Lipitor, Aspirin, Paracetamol, Ibuprofen, Pen...
Name: Medication, dtype: object

In [ ]:
#checking number of medication prescribed for each medical conditions

df.groupby('Medical Condition')['Medication'].nunique()

Medical Condition
Arthritis       5
Asthma          5
Cancer          5
Diabetes        5
Hypertension    5
Obesity         5
Name: Medication, dtype: int64

In [ ]:
# checking if certain medical conditions always involve specific medications

single_med_conditions = df.groupby('Medical Condition')['Medication'].nunique()
single_med_conditions = single_med_conditions[single_med_conditions == 1]
single_med_conditions

Series([], Name: Medication, dtype: int64)

In [ ]:
# Top 10 doctors that handled the widest variety of conditions
doc_cond_count = df.groupby('Doctor')['Medical Condition'].nunique().sort_values(ascending=False)

doc_cond_count.head(10)

Doctor
Michael Johnson      5
William Rodriguez    4
James Perez          4
James Williams       4
Christopher Jones    4
Michael Brown        4
Jennifer Perez       3
Brian Williams       3
Jennifer Jones       3
Heather Johnson      3
Name: Medical Condition, dtype: int64

In [ ]:
# The doctor handling the widest variety of conditions and the number of condition

max_cond = doc_cond_count.max()

doc_cond_count[
    doc_cond_count == max_cond
    ]

Doctor
Michael Johnson    5
Name: Medical Condition, dtype: int64

In [ ]:
#Conditions treated by the doctors that attended to wide variety of cases

top_doc = doc_cond_count[doc_cond_count == max_cond].index

df[df['Doctor'].isin(top_doc)][['Doctor', 'Medical Condition']].drop_duplicates()

               Doctor Medical Condition
1862  Michael Johnson            Asthma
6397  Michael Johnson          Diabetes
6411  Michael Johnson           Obesity
6875  Michael Johnson            Cancer
9909  Michael Johnson         Arthritis

In [43]:
#average length of stay per doctor

max_stay_doc = df.groupby('Doctor')['length_of_stay'].mean().sort_values(ascending=False)
max_stay_doc.head(10)

Doctor
Ruben Taylor      30.0
Ronald Smith      30.0
Brittany Carr     30.0
Brooke Bridges    30.0
Jesse Bailey      30.0
Jerry Fox         30.0
William Parks     30.0
Robin Kane        30.0
Bruce Matthews    30.0
Brooke Taylor     30.0
Name: length_of_stay, dtype: float64

In [ ]:
#proportion normal vs abnormal test results

df['Test Results'].value_counts()

Test Results
Abnormal        3456
Inconclusive    3277
Normal          3267
Name: count, dtype: int64

In [ ]:
#proportion normal vs abnormal test results in percentage

df['Test Results'].value_counts(normalize=True) * 100

Test Results
Abnormal        34.56
Inconclusive    32.77
Normal          32.67
Name: proportion, dtype: float64

In [ ]:
#checking if abnormal test results are associated with longer hospital stay

df.groupby('Test Results')['length_of_stay'].agg(['mean', 'median', 'count'])

                   mean  median  count
Test Results
Abnormal      15.688079    16.0   3456
Inconclusive  15.472688    16.0   3277
Normal        15.517600    15.0   3267

In [ ]:
#medical conditions with highest abnormal test results rate

df['abnormal_result'] = df['Test Results'] == 'Abnormal'

Abnormal_result = (
    df.groupby('Medical Condition')['abnormal_result'].count().sort_values(ascending=False)
)
Abnormal_result
#df.groupby('Medical Condition')[['Test Results'] == 'Abnormal'].mean()

Medical Condition
Asthma          1708
Cancer          1703
Hypertension    1688
Arthritis       1650
Obesity         1628
Diabetes        1623
Name: abnormal_result, dtype: int64